<div class="reservation_wrapper">
    <p class="title">Бронирование номера</p>
    <p class="hr"></p>
    <form class="form" [formGroup]="form" #myForm="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="check-in-date">
            <div>
                <label for="startDate">Дата заезда</label>
                <input
                    type="date"
                    id="startDate"
                    name="startDate"
                    formControlName="startDate"
                >
                <p
                    *ngIf="myForm.submitted && !form['controls']['startDate'].valid" class="invalid">Обязательное поле!</p>
            </div>
            <div>
                <label for="endDate">Дата отъезда</label>
                <input
                    type="date"
                    id="endDate"
                    name="endDate"
                    formControlName="endDate"
                >
                <p *ngIf="myForm.submitted && !form['controls']['endDate'].valid" class="invalid">Обязательное поле!</p>
            </div>
        </div>
        <div formGroupName="user">
            <label for="firstName">Имя</label>
            <input
                type="text"
                id="firstName"
                placeholder="Имя"
                name="firstName"
                formControlName="firstName"
                required
                (input)="onlyLetters(form['controls']['user']['controls']['firstName'])"
            >
            <p *ngIf="myForm.submitted && !form['controls']['user']['controls']['firstName'].valid" class="invalid">Обязательное поле!</p>
            <label for="lastName">Фамилия</label>
            <input
                type="text" id="lastName"
                placeholder="Фамилия"
                name="lastName"
                formControlName="lastName"
                (input)="onlyLetters(form['controls']['user']['controls']['lastName'])"
            >
            <p *ngIf="myForm.submitted && !form['controls']['user']['controls']['lastName'].valid" class="invalid">Обязательное поле!</p>
            <label for="patronymicName">Отчество</label>
            <input
                type="text"
                id="patronymicName"
                placeholder="Отчество"
                name="patronymicName"
                formControlName="patronymicName"
                (input)="onlyLetters(form['controls']['user']['controls']['patronymicName'])"
            >
            <p *ngIf="myForm.submitted && !form['controls']['user']['controls']['patronymicName'].valid" class="invalid">Обязательное поле!</p>
            <label for="birthday">Дата рождения</label>
            <input
                type="date"
                id="birthday"
                name="birthday"
                formControlName="birthday"
            >
            <p *ngIf="myForm.submitted && !form['controls']['user']['controls']['birthday'].valid" class="invalid">Обязательное поле!</p>
        </div>
        <label for="roomTypeId">тип номера</label>
        <select
            id="roomTypeId"
            name="roomTypeId"
            formControlName="roomTypeId"
        >
            <option *ngFor="let text of hotelRoomType" value="{{text.id}}">{{text.name}}</option>
        </select>
        <p *ngIf="myForm.submitted && !form['controls']['roomTypeId'].valid" class="invalid">Обязательное поле!</p>
        <label for="countOfGuests">Количество гостей</label>
        <input
            id="countOfGuests"
            type="number"
            name="countOfGuests"
            formControlName="countOfGuests"
        >
        <p *ngIf="myForm.submitted && !form['controls']['countOfGuests'].valid" class="invalid">Обязательное поле!</p>
        <label for="withAnimal">С животными</label>
        <input
            type="checkBox"
            id="withAnimal"
            name="withAnimal"
            formControlName="withAnimal"
            checked="checked"
        >
        <button class="btn">Забронировать</button>
    </form>
</div>
