<div class="reservation_wrapper">
    <p class="title">Бронирование номера</p>
    <p class="hr"></p>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="check-in-date">
            <div>
                <div class="bloc-input">
                    <label for="startDate">Дата заезда</label>
                    <input
                        type="date"
                        id="startDate"
                        name="startDate"
                        (change)="arrivalDate()"
                        formControlName="startDate"
                        min="{{startDate}}"
                    >
                </div>
                <p *ngIf="validation(!form.get('startDate').valid)" class="invalid">Обязательное поле!</p>
            </div>
            <div>
                <div class="bloc-input">
                    <label for="endDate">Дата отъезда</label>
                    <input
                        type="date"
                        id="endDate"
                        name="endDate"
                        formControlName="endDate"
                        min="{{endDate}}"
                    >
                </div>
                <p *ngIf="validation(!form.get('endDate').valid)" class="invalid">Обязательное поле!</p>
            </div>
        </div>
        <div formGroupName="user">
            <div class="block-input">
                <label for="firstName">Имя</label>
                <input
                    type="text"
                    id="firstName"
                    placeholder="Имя"
                    name="firstName"
                    formControlName="firstName"
                    (input)="onlyLetters(form.get('user.firstName'))"
                >
            </div>
            <p *ngIf="validation(!form.get('user.firstName').valid)" class="invalid">Обязательное поле!</p>
            <div class="block-input">
                <label for="lastName">Фамилия</label>
                <input
                    type="text" id="lastName"
                    placeholder="Фамилия"
                    name="lastName"
                    formControlName="lastName"
                    (input)="onlyLetters(form['controls']['user']['controls']['lastName'])"
                >
            </div>
            <p  *ngIf="validation(!form.get('user.lastName').valid)" class="invalid">Обязательное поле!</p>
            <div class="block-input">
                <label for="patronymicName">Отчество</label>
                <input
                    type="text"
                    id="patronymicName"
                    placeholder="Отчество"
                    name="patronymicName"
                    formControlName="patronymicName"
                    (input)="onlyLetters(form['controls']['user']['controls']['patronymicName'])"
                >
            </div>
            <p *ngIf="validation(!form.get('user.patronymicName').valid)" class="invalid">Обязательное поле!</p>
            <div class="block-input">
                <label for="birthday">Дата рождения</label>
                <input
                    type="date"
                    id="birthday"
                    name="birthday"
                    formControlName="birthday"
                    max="{{dateBirth}}"
                >
            </div>
            <p *ngIf="validation(!form.get('user.birthday').valid)" class="invalid">Обязательное поле!</p>
        </div>
        <div class="block-input">
            <label for="roomTypeId">тип номера</label>
            <select
                id="roomTypeId"
                name="roomTypeId"
                formControlName="roomTypeId"
                (change)="roomType()"
            >
                <option *ngFor="let text of hotelRoomType" value="{{text.id}}">{{text.name}}</option>
            </select>
        </div>
        <div class="block-input">
            <label for="countOfGuests">Количество гостей</label>
            <select
                id="countOfGuests"
                type="number"
                name="countOfGuests"
                formControlName="countOfGuests"
            >
                <option value="0">1 гость</option>
                <option value="1">2 гостя</option>
                <option value="2">3 гостя</option>
                <option value="3">4 гостя</option>
                <option value="4">5 гостей</option>
                <option value="5">6 гостей</option>
            </select>
        </div>
        <p *ngIf="validation(!form.get('countOfGuests').valid)" class="invalid">Измените количество гостей</p>
        <div class="block-input">
            <label for="withAnimal">С животными</label>
            <input
                type="checkBox"
                id="withAnimal"
                name="withAnimal"
                formControlName="withAnimal"
                checked="checked"
            >
        </div>
        <button class="btn">Забронировать</button>
    </form>
</div>
